
body, html {
    height: 100%;
}

nav {
    position: relative;
    z-index: 1;
}

nav.pinned {
    position: fixed;
    top: 0;
    background-color: #81BEF7;
    transition: 0.3s ease background-color;
    -webkit-transition: 0.2s ease background-color;
}

.navbar-wrapper {
    height: 3rem;
}

.navbar {
    text-align: center;
}

ul {
	margin: 2rem 0;
	list-style: none;
	padding-left: 2rem; 
}

ul li {
	padding: 0.5rem 0;
	font-weight: 200; 
	color:#424242;
}

nav {
	height: 3rem;
	position: relative;
	width: 100%; 
}

nav ul {
	height: 3rem;
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 0;
	list-style: none; 
}

nav ul li {
	font-size: 15px;
	padding: 0;
	display: inline-block;
}

nav ul li:hover {
	cursor: pointer;
	color: white;
	background-color: #81BEF7; 
}

nav ul li p {
	height: 1.5rem;
	line-height: 1.5rem;
	margin: 0;
	padding: 0.75rem 1.5rem; 
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #424242; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.intro {
    margin-top: 0;
  background-color: #81BEF7;
  background-image: none;
  height: 100%;
  position: relative;
  overflow: hidden;
  }

.intro-name {
  color: #fff;
  text-align: center;
  position: relative;
  padding-top: 21rem;
  text-transform: uppercase;
  font-size: 50px;
}

.intro-tagline {
  color: #fff;
  text-align: center;
  position: relative;
  padding-top: 3rem;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 3px;
  opacity: 0.8; }
  
  .arrow {
    position: relative;
    text-align: center;
    color: white h;
    font-size: 30px;
    padding: 3rem;
    z-index: 2;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #424242;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h1 {font-size: 50px; }
h2 {font-size: 40px; }
h3 {font-size: 20px; }
h4 {font-size: 20px; }
h5 {font-size: 18px; }
h6 {font-size: 16px; }

.p {
  margin-bottom: 1em; }
.code {
  padding: 0px 0px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #424242;
  background-color: #fafafa;
   }

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; 
  width: 100%;
  background: black;
  color: white;
}



/* About
------------------------------------------------------------ */
#about-me {
    text-align: center;
}

/* Education
------------------------------------------------------------ */
#education {
    text-align: center;
    background-color: #F2F5A9;
}
/* Experience
------------------------------------------------------------ */
#experience {
    text-align: center;
}
/* Projects
------------------------------------------------------------ */
#projects {
    text-align: center;
    background-color: #F2F5A9;
}
/* Contact
------------------------------------------------------------ */
#contact {
    text-align: center;
}
